[flake8]
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    env,
    build,
    dist

max-line-length = 100
extend-ignore = E203, E266, E501, W503
max-complexity = 18
select = B,C,E,F,W,T4,B9